name: build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:

    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16
      - if: matrix.os == 'macos-latest'
        run: go build -o yelaa ./main.go
      - if: matrix.os == 'ubuntu-latest'
        run: GOOS=linux GOARCH=amd64 go build -o yelaa ./main.go
      - if: matrix.os == 'window-latest'
        run: GOOS=windows GOARCH=amd64 go build -o yelaa ./main.go